site_name: Docs DataCollege - Borbs
site_url: https://datacollege-borbs.streamlit.app

repo_url: https://github.com/luhborba/multipage-login-streamlit

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-4
        name: Modo Claro

    - scheme: slate
      toggle:
        icon: material/brightness-7
        name: Modo Escuro

plugins:
  - search
  - mkdocstrings:
      default_handler: python
